@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Hubballi&family=Montserrat:ital@1&display=swap');

body {
    margin: 0px;
    background: rgb(0, 0, 35);
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 102, 255, 0.200));
    background-size: cover;
    background-repeat: no-repeat;
}

#top-navigation-bar {
    background: rgb(0, 0, 35);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    opacity: 0.8;
    z-index: 1;
}

header {
    position: fixed;
}

.our-future {
    width: 100%;
    background-color: #131313;
    opacity: 0.9;
}

.our-future-p {
    color: white;
    font-size: 3vh ;
    line-height: 3vh;
    font-family: 'Hubballi', cursive;
}

li,a,button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3vh;
    text-decoration: none;
    color: rgb(255,255,255);
}

#top-navigation-logo {
    width: 8vh;
    height: 8vh;
    position: absolute;
    margin-left: 6%;
}

#top-navigation-menu {
    width: 4vw;
    height: 8vh;
}

#top-navigation-links {
    list-style: none;
}

#top-navigation-links > li { 
    display: inline-block;
    padding: 0vw 5vh;
}

#top-navigation-links > li > a {
    transition: all 0.2s ease-out 0.1s;
}

#top-navigation-links > li > a:hover {
    color: rgb(0, 100, 255);
}

button {
    border-radius: 2vh;
    border: none;
    padding: 0.6vh;
    background-color: rgb(0,100,255);
    transition: all 0.3s ease-out 0.2s;
    border: 0.2vw solid rgb(255,255,255);
}

button:hover {
    background-color: rgb(255,255,255);
    color: rgb(0, 100, 255);
    border: 0.2vw solid rgb(0, 100, 255);
}

#side-navigation-bar {
    background-color: rgb(0, 0, 35);
    width: 15vw;
    opacity: 0.8;
    height: 100%;
    z-index: 1;
    position: fixed;
    display: none;
    overflow: scroll;
}

#close-side-navigation {
    position: fixed;
    float: right;
}

#side-navigation-bar > nav {
    width: 15vw;
    height: 100%;
}

#side-navigation-bar > nav > ul {
    list-style: none;
    padding: 1vw;
    margin: 0px;
    width: 15vw;
} 

#side-navigation-bar > nav > ul > li {
    width: 15vw;
    padding: 5vh;
}

#company-banner {
    width: 10vw;
    height: 25vh;
}

.heading-intro {
    color: white;
    text-align: right;
    font-size: 8vh;
    opacity: 1;
    transition: all 0.3s ease-out 0.2s;
    font-family: 'Hubballi', cursive;
}

.heading-intro:hover {
    color: rgb(0,100,255);
}

.our-future-h {
    color: white;
    font-size: 6vh;
    display: flex;
    align-items: center;
    font-family: 'Hubballi', cursive;
    margin: 0px;
}

.side-navigation-items {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-out 0.2s;
}

.side-navigation-items:hover {
    color: rgb(0,100,255);
}

#steps-for-web > ul {
    list-style: none;
}

#money-raised {
    color: white;
    text-align: center;
    font-size: 8vh;
    opacity: 1;
    transition: all 0.3s ease-out 0.2s;
    font-family: 'Hubballi', cursive;
}

#money-raised:hover {
    color: rgb(0, 100, 255);
}

.last-h {
    color:white;
    font-size: 6vh;
    font-family: 'Hubballi', cursive;
    text-align: center;
}

.counter {
    color:white;
    font-size: 6vh;
    font-family: 'Hubballi', cursive;
    text-align: center;  
}

#quater-p {
    text-align: center;
    color: white;
    font-family: 'Hubballi', cursive;

}

.counter-container > a {
    display: flex;
    justify-content: center;
}

#footer-div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    width: 8vh;
    height: 8vh;
}

#footer-p1 {
    font-size: 6vh;
    font-family:'Hubballi', cursive;
    color: rgb(255, 255, 255);
}

#footer-div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-p2 {
    font-size: 6vh;
    font-family:'Hubballi', cursive;
    color: rgb(255, 255, 255);
}

#footer-div3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-p3 {
    font-size: 6vh;
    font-family:'Hubballi', cursive;
    color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(5, 5, 5);
}

.share-items-h{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 8vh;
}

.share-item-f{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1877f2;
    display: flex;
    justify-content: center;
    font-size: 8vh;
    padding: 3%;
}

.share-item-t{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1da1f2;
    display: flex;
    justify-content: center;
    font-size: 8vh;
    padding: 3%;
}

.share-item-p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e60023;
    display: flex;
    justify-content: center;
    font-size: 8vh;
    padding: 3%;
}

.share-item-l{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0077b5;
    display: flex;
    justify-content: center;
    font-size: 8vh;
    padding: 3%;
}

.share-item-w{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #25d366;
    display: flex;
    justify-content: center;
    font-size: 8vh;
    padding: 3%;
}


@media only screen and (max-width: 600px) {
    #premium-courses {
        display: none;
    }

    #top-navigation-nav {
        display: none;
    }

    #top-navigation-menu {
        width: 10vw;
        height: 8vh;
    }

    #top-navigation-logo {
        width: 8vh;
        height: 8vh;
        position: absolute;
        margin-left: 10%;
    }

    #side-navigation-bar {
        background-color: rgb(0, 0, 35);
        width: fit-content;
        opacity: 0.8;
        height: 100%;
        z-index: 1;
        position: fixed;
        display: none;
        overflow: scroll;
        overflow-x: scroll;
    }

    #side-navigation-bar > nav {
        width: fit-content;
        height: 100%;
    }
    
    #side-navigation-bar > nav > ul {
        list-style: none;
        padding: 1vw;
        margin: 0px;
        width: fit-content;
    } 
    
    #side-navigation-bar > nav > ul > li {
        width: fit-content;
        padding: 5vh;
    }

    #company-banner {
        width: 40vw;
        height: 25vh;
    }
    
    #top-navigation-logo {
        width: 8vh;
        height: 8vh;
        position: absolute;
        margin-left: 15%;
    }
}

::-webkit-scrollbar {
    width: 1vh;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(30,30,30) 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0,100,255); 
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255,255,255); 
  }